/* 
    Document   : template.css
    Created on : 08-Feb-2012, 12:25:20
    Author     : mat
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@import "http://webdev.stephband.info/css/reset.css";
@import "http://webdev.stephband.info/css/typography.css";
@import "http://webdev.stephband.info/css/style_dark.css";

#parallax {
    background: #000;
    margin: 1.5em 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 700px;
}
 
#parallax div {
    position: absolute;
}