 body {
       
        padding-bottom: 0px;
       
      }
      
      .hero-unit {
      	position:relative;
      	min-height:520px;
      }
      
      .bodycontain {
      	 background:#000;
      }
      footer {
      	background:#fff;
  	border-top:#8681bc solid 3px;
      }
      
      
  .logo {
  	
  	display:block;
  	
  	width:152px;
  	height:99px;
  	margin:40px auto;
  	
  }   
  .logo img {
  	width:152px;
  	height:99px;
  } 
  .navbar-access {
  	background:#fff;
  	border-bottom:#8681bc solid 3px;
  }

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #555;

}

#navcontainer ul li a:hover
{
color: #8681bc;

}


.parallax-viewport {
    position: relative;     /* relative, absolute, fixed */
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
}
